*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.calculadora{
    background-color: blueviolet;
    width: 300px;
    padding: 40px 0;
    text-align: center;
}
.calculadora-campo{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 0 0 20px 0;
    box-shadow: 0px 2px 11px;
}
.calculadora-numeros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 40px);
    gap: 5px;
}
.btn--center{
    grid-column-start:2;
    grid-column-end:3 ;
    grid-row-start:-2 ;
    grid-row-end:-1 ;
}
.calculadora-funciones{
    margin: 20px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 30px);
    gap: 5px;
}
.btn--complete{
    grid-column-end:span 4;
}
.btn{
    font-size: 20px;
    background-color: cadetblue;
    color: beige;
    border-radius: 30px;
}